/.vscode
/css
/deneme
/deneme10-netflix
/deneme11-shopping
/deneme12-todoList-javascript
/deneme13-javascript
/deneme14-todoApp-javascript
/deneme15-quizApp
/deneme16-musicPlayer
/deneme17-ülkeler
/deneme2
/deneme3
/deneme4
/deneme6-display-grid
/deneme7-bootstrap
/deneme8-bootstrap
/deneme9-bootstrap-collapse